<p id="notice"><%= notice %></p>
<div class="Welcome">
<h1>Welcome!</h1>
</div>
<div class="Info">
<h2>Date & Time</h2>
<p><%= @date %></p>
<h2>Temperature</h2>
<p><%= @temp %></p>
<h2>Weather Today</h2>
<p><%= @text %></p>
</div>
